body{
	font-family: Myriad Pro Cond;
	margin: 200px 200px 200px 200px;	
	background-color: #FF9933
}
.container{		
	border: 3px solid #fff;
	background-color: #BDBDBD;
	height: 430px;
	width: 960px;
	font-size: 18px;
}
table td{
	margin-bottom: 10px;
}
#header{
	border-bottom: 3px solid #fff;
	font-size: 18px;
}
#menu{
	width: 550px;
	height: 351px;
	border-right: 3px solid #fff;
	
	float: left;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
}

#menu1{
	margin-left: 5px;
	font-size: 18px;
	float: left;	
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=email], input[type=number], [type=text1] {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit], input[type=reset] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}